.highlight 
{
    background-color: peru;
}

.navbar-style
{
    background-color: rgb(133, 168, 38) !important;
}

.green-highlight{
    color: green;
    font-size: 40px;
}

.gray-highlight{
    color: gray;
    font-size: 25px;
}